fastapi
uvicorn
python-multipart
llama-index
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-milvus
pymilvus[milvus_lite]
python-dotenv
easyocr
pillow
PyMuPDF
python-docx
pandas
openpyxl
chromadb
llama-index-vector-stores-chroma
llama-index-llms-huggingface
transformers
torch
accelerate